<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Alkemy - Transacciones</title>
</head>
<body>
    <header>
        <h1>Hola Alkemy (TRANSACCIONES)</h1>
    </header>
    <main>
        <a href="/"><button>Volver</button></a>
        
    </main>
    <script src="../js/script.js"></script>
</body>
</html>